TabWidth: 4
IndentWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
SpacesBeforeTrailingComments: 2
IndentPPDirectives: BeforeHash
ColumnLimit: 0
